
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

body {
  text-align: center;
   background-image: url("https://media.istockphoto.com/photos/healthy-eating-background-picture-id515856750?k=20&m=515856750&s=612x612&w=0&h=qQGIvssqNOjJsOTBJ5oeSn2bls94L9tUi5OnRAg0cbU=");
   font-family: 'Merriweather', serif;
  background-size: 100%;
  margin:0%
}

button {
  background-color: #db9dc4; 
  border: none;
  border-radius: 8px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bolder;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-family: 'Merriweather', serif;
}
button:hover {
  border: 2px solid rgb(225, 199, 174);
    overflow: hidden; 
}

input {
  margin: 0px;
  height: 2em;
  width: 20em; 
  display: inline-block;
}

input[type=text] {
  font-family: 'Merriweather', serif;
}

select {
  margin: 4px;
  height: 3em;
  width: 10em;
  border-radius: 4px;
  font-family: 'Merriweather', serif;
}

.signup-login-form label{
  justify-content: center; 
  display: block;
}
.header {
  display: flex;
  font-family: 'Merriweather', serif;
  justify-content: center;
  flex-direction: column;
  font-size: 2.5em;
  background-color: rgb(247, 240, 240, .70);
  color: #cd1d8c;
}

.header .inside-header {
  display:flex;
  width: 100%;
  justify-content: center;
  font-size: 1.5em; 
}

h6 {
  margin-left: 20px;
  margin-right: 30px;
}

.search {
  font-size: 1.75em;
  font-weight: bolder;
  margin-top: 2px solid black;
  color: #cd1d8c
}
.search input{
  font-size: 1em;
  border: 2px solid #db9dc4;
  border-radius: 7px;
  margin: 4px;
  height: 1.5em;
  width: 10em;
}

.signup-login-form input {
  font-size: 1em;
  border: 2px solid #db9dc4;
  border-radius: 7px;
  padding: 12px 20px;
  margin-left: 5px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.dissappear {
  display: none;
}

.navbar {
  background-color: rgb(247, 240, 240, .70);
  margin: auto;
  margin-bottom: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
  height: 7%;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
      font-family: "Zen Antique", serif;
      justify-content: center;
      font-size: 2em;
      justify-content: space-around;
      font-family: "Zen Antique", serif;
}

.navbar ul a {
  text-decoration:none;
  color: #cd1d8c;
  font-family: 'Merriweather', serif;
  font-weight: bolder;
}

.signup-login-form{
    display: inline-block;
    color: rgb(7, 4, 7); 
    text-align: center;
    padding: 7px 0px;
    margin: 0 auto;
    text-align: center;
    padding: 7px 0px;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    padding: 14px 20px;
    width:75%;
    justify-content: center;
} 

.button {
  top: 40px;
  bottom: 40px;
  width: fit-content;
  font-family: "Zen Antique", serif;
} 
.product-card img{
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width : 100%;
  
}

.product-display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    margin-top: 5px;
    margin-bottom: 5px;
}

  .product-card {
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin: 36px 10px 50px 50px;
    font-family: 'Merriweather', serif;
    font-size: 20px; 
    background-color: rgb(247, 240, 240, .90);
    border-radius: 15px;
    padding: 10px;
    box-shadow:20px 20px 40px rgb(225, 199, 174);
   }

   .product-card select {
    width: 5em;
   }

   .product-card:hover {
    border: 5px solid rgb(247, 240, 240, .90);
    overflow: hidden;  
   }

   .cart-container h2 {
    color: #cd1d8c;
    font-size: 2em;
   }

   .cart-item {
     display:flex;
     flex-direction: row;
     font-size: 2em;
     justify-content: center;
     text-align: center;
     margin-left: 20px;
     margin-right: 20px;
     border: 2px solid;
     padding-top: 25px;
     margin-top: 10px;
     margin-bottom: 10px;
   }

   .cart-item button {
     height: 50%;
     margin-top: 35px;
   }

   .inside-cart-item {
     display: flex;
     flex-direction: column;
     align-self: center;
   }

   .category {
     display: flex;
     align-items: centre;
     flex-direction: row;
     flex-wrap: wrap;
     margin-left: 15%;  
   }
  
   .category-card {
      color: rgb(67, 100, 16);
      /* border: 2px solid black; */
      width: 20%;
      margin-bottom: 20px;
     margin-top: 20px;
     margin-left: 10px;
     margin-right: 10px;
     height: 100px;
     align-items: centre;
     padding-top: 20px;
     background-color: rgb(247, 240, 240, .70);
     font-size: 1.5em;
     box-shadow:20px 20px 40px rgb(225, 199, 174);
   }

   .category-card:hover {
    border: 5px solid rgb(247, 240, 240, .90);
    overflow: hidden; 
   }