body {
  text-align: center;
   background-image: url("https://images.unsplash.com/photo-1532467411038-57680e3dc0f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  /* background-color: grey; */
  /* background-repeat: repeat; */
  background-size: auto;
  margin:0%
}

input {
  margin: 4px;
  height: 2em;
  width: 20em;
}

.dissappear {
  display: none;
}

.navbar ul{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      font-family: "Zen Antique", serif;
      justify-content: center;
      font-size: 2em;
      justify-content: space-around;
      margin: 100px; 
      margin-top: 10px;
      margin-bottom: 25px;
     /* margin-left: 20px;
     margin-right: 20px; */
      font-family: "Zen Antique", serif;
      text-decoration:none;
}


.signup-login-form{
  border: 5px outset #0c0c0a; ;
    color: rgb(7, 4, 7);
    text-align: center;
    flex-wrap: center;
    padding: 7px 0px;
    margin: 36px 10px 50px 50px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
    text-align: center;
    padding: 14px 20px;
    border: 5px outset #050503; ;
    border-radius: 10px;
    
} 
 .signup-login-form [type=text] {
  border-radius: 6px;
  border: 1px solid transparent;
  /* border-color: #dbdbdb; */
  -webkit-appearance: none;
  width: 25%;
  font-size: 1rem;
  line-height: 1.5;
  padding: 4px;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 2em;
  margin-bottom: 8px;
}
.signup-login-form [type=password] {

  border-radius: 6px;
  border: 1px solid transparent;
  /* border-color: #dbdbdb; */
  width: 25%;
  font-size: 1rem;
  line-height: 1.5;
  padding: 4px;
  
  display: inline-flex;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 8px;
}
.button {
  top: 40px;
  bottom: 40px;
  width: fit-content;
  font-family: "Zen Antique", serif;
} 
.product-card img{
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width : 100%;
  
}

.product-display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    margin-top: 5px;
    margin-bottom: 5px;
}

  .product-card
  {
    display: flex;
    width: 25%;
    /* height: 700px; */
    flex-direction: column;
    align-items: center; 
    padding: 5px 5px;
    justify-content: center;
    margin: 36px 10px 50px 50px;
    border: 5px outset #050503; 
    border-radius: 20px; 
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px; 
    /* text-align:justify;  */
    background-color: white;

   }
  